<ion-view title="Food" id="page1" style="background-color:#EE8CBB;">
  <ion-content padding="true" class="has-header">
    <h1 id="food-heading1" style="color:#408992;text-align:center;">Eat</h1>
    <div>
      <img src="img/Ga6XnQtRkGBbgZCrd4jS_food.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="food-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#1A5D59;">We Live To Eat &lt;3</p>
    </div>
  </ion-content>
</ion-view>